<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ваше веб-приложение</title>

    <!-- Подключение CSS -->
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="sidebar">
    <form th:action="@{/main/profile/}" th:method="GET">
        <button type="submit">Страница профиля</button>
    </form>
    <form th:action="@{/tasks/}" th:method="GET">
        <button type="submit">Страница задач</button>
    </form>
    <form th:action="@{/teams/}" th:method="GET">
        <button type="submit">Пользователи</button>
    </form>
    <form th:action="@{/logout}" th:method="GET">
        <button class="logout" type="submit">выйти</button>
    </form>
</div>
<div class="content">
    <!-- Здесь будет содержимое страницы -->
</div>
<div class="tidings" style="position: absolute; right: 50%; transform: translateX(50%); top: 0;">
    <h2>Новости</h2>
    <div th:each="tiding : ${tidings}">
        <a th:href="@{/tidings/{id}(id=${tiding.getName()})}"
           th:text="${tiding.getName() + ', ' + tiding.getCore()}">tidings</a>
    </div>
    <!-- Форма для оставления комментариев -->
    <div class="comment-box">
        <a href="/tidings/new">Создать новость</a>
    </div>
</div>
</body>
</html>
