<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>id</title>
</head>
<body>
<h4> id: </h4>
<p th:text="${task.getId()}">VALUE</p>
<br/>
<br/>
<h4> название задачи: </h4>
<p th:text="${task.getTitle()}">VALUE</p>
<br/>
<h4> описание задачи: </h4>
<p th:text="${task.getDescription()}">VALUE</p>
<br/>
<h4> сроки задачи: </h4>
<p th:text="${task.getData()}">VALUE </p>
<br/>
<div th:if="${owner}">
    <span>Задача сейчас у: </span> <span th:text="${owner.getUsername()}">Person Name</span>
    <form th:method="PATCH" th:action="@{/tasks/{id}/release(id=${task.getId()})}">
        <input type="submit" value="Освободить задачу">
    </form>
</div>
<div th:if="${people}">
    <span>Эта задача свободна. Кому назначить её?</span>
    <form th:method="PATCH" th:action="@{/tasks/{id}/assign(id=${task.getId()})}">
        <label for="person">Все кто может взять задачу:</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person: ${people}" th:value="${person.getId()}"
                    th:text="${person.getUsername()}"></option>
        </select>
        <input type="submit" value="дать"/>
    </form>
</div>
<br/>
<a th:href="@{/tasks/{id}/edit(id=${task.getId()})}"><button>Изменить</button></a>
<br/>
<br/>
<form th:method="DELETE" th:action="@{/tasks/{id}(id=${task.getId()})}">
    <input type="submit" value="Готово"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/tasks/{id}(id=${task.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>