<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание задач</title>
</head>
<body>

<form th:method="POST" th:action="@{/tasks}" th:object="${task}" th:accept-charset="UTF-8">
    <label for="title">Введите название задачи: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">error</div>
    <br/>
    <label for="description">Введите описание задачи: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">error</div>
    <br/>
    <label for="data">Введите сроки задачи: </label>
    <input type="text" th:field="*{data}" id="data"/>
    <div style="color: red" th:if="${#fields.hasErrors('data')}" th:errors="*{data}">error</div>
    <br/>
    <input type="submit" value="Добавить"/>
</form>
<form th:action="@{/tasks/}" th:method="GET">
    <button type="submit">Назад</button>
</form>
</body>
</html>