<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/teams/{id}(id=${person.getId()})}" th:object="${person}">
  <label for="username">Enter name: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
  <br/>
  <label for="age">Enter age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
  <br/>
  <input type="submit" value="Update!"/>
</form>
<form th:action="@{/teams/}" th:method="GET">
  <button type="submit">Назад</button>
</form>
</body>
</html>