<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>id</title>
</head>
<body>
<div th:if="${tasks.isEmpty()}">
  <p>Человек пока не взял ни одной задачи </p>
  <hr/>
</div>

<div th:if="${!tasks.isEmpty()}">
  <hr/>
  <b>Задачи:</b>
  <table th:each="tasks : ${tasks}">
    <tr th:text="${tasks.getTitle() + ' ,' + tasks.getDescription() + ' ,' + tasks.getData()}">tasks</tr>
  </table>
  <hr/>
</div>
<h4> id: </h4>
<p th:text="${person.getId()}">VALUE</p>
<br/>
<br/>
<h4> ваше имя: </h4>
<p th:text="${person.getUsername()}">VALUE</p>
<br/>
<h4> ваш возраст: </h4>
<p th:text="${person.getAge()}">VALUE</p>
<br/>
<br/>
<a th:href="@{/teams/{id}/edit(id=${person.getId()})}"><button>Изменить</button></a>
<br/>
<br/>
<form th:method="DELETE" th:action="@{/teams/{id}(id=${person.getId()})}">
  <input type="submit" value="Удалить"/>
</form>
</body>
</html>